<%- include('../partials/header') %>
       <div class="jumbotron">
          <h1 class="display-3"><%=title%></h1>
          <p class="lead">This is an About Page!</p>
          <hr class="my-4">
          <p></p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
          </p>
        </div>
<%- include('../partials/footer') %>
