<%- include('../partials/header') %>
       <div class="jumbotron">
          <h1 class="display-3"><%=title%></h1>
          <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
          <hr class="my-4">
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
          </p>
        </div>

  <h1><%=title%></h1>
      <p>Crocheting is a form of needle craft where yarn is transformed into textured fabric by using a hooked needle. Crocheting also involves a process where stitches are made by using the crochet hook to loop and pull yarn through the loop. Crochet can be done with just one hook and any type of yarn and has many different uses. It’s one of the easiest crafts to learn and is great for beginners. </p>    <p>https://www.pocketyarnlings.com/blog/what-is-crocheting-and-why-is-it-a-good-hobby#:~:text=Crocheting%20also%20involves%20a%20process,and%20is%20great%20for%20beginners.</p>

<%- include('../partials/footer') %>
